<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sinergroup</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
<div>Tienes un nuevo pedido del socio <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:nombre).first %></div>
<table class="table table-middle">
	<thead>
		<tr>
			<th>Número de Pedido</th>
			<th>Productos</th>
			<th>Cantidad</th>
			<th>Precio por unidad</th>
			
		</tr>
	</thead>
	<tbody>
		<% @productos.each do |p| %>
		<tr>
			<td><%= p.pedidoID %></td>
			<td><%= p.producto %></td>
			<td><%= p.cantidad %></td>
			<td><%= Product.where(:descripcion => p.producto).pluck(:costo).first %></td>
			
		</tr>
		<% end %>
	</tbody>
</table>
<h5>Detalles del Pedido</h5>
<div>Nombre del cliente: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:nombre).first %></div>
<div>Código Promocional: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:codigopromocional).first %></div>
<div>Correo electrónico: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:correo).first %></div>
<div>Télefono: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:telefono).first %></div>
<h5>Detalles de envío</h5>
<div>Dirección de envío: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:direccion).first %></div>
<div>Entre que Calles: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:calles).first %></div>
<div>Municipio: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:municipio).first %></div>
<div>Código Postal: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:codigopostal).first %></div>

<h5>Datos de Facturación</h5>
<div>Código Postal: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:rfc).first %></div>
<div>Razón Social: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:razonsocial).first %></div>
<div>Dirección Fiscal: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:direccionfiscal).first %></div>
<div>Municipio: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:municipiofiscal).first %></div>
<div>Código Postal: <%= PedidoPublico.where(:id => params[:pedidoID]).pluck(:codigopostalfiscal).first %></div>
</body>
</html>