<div class="row">
<div class="col-md-1 sidebar-line"></div>
  <div class="col-md-10 sidebar-line">
<h1>REGLAS DEL NEGOCIO</h1>
<p>(Bases del contrato comercial entre las partes)</p>

<p>1.	Cada vez que el Socio ingrese al portal de la página WEB de Siner Group S de RL, en la sección exclusiva para Socios, será únicamente a través de la clave de acceso que se le asigne y estará aceptando las cláusulas, políticas y reglas de participación y confidencialidad en el negocio, así como comprometiéndose  en respetar y acatar cada una de estas.</p>

<p>2.	El Socio está obligado a respetar la lista de precios vigente, la cual será actualizada de forma mensual con base al tipo de cambio del peso Mexicano frente al Dólar americano.</p>

<p>3.	El socio tendrá el derecho de poder dar hasta un 10% de descuento máximo sobre la lista de precios autorizada por compra, el cual será descontado de su porcentaje de utilidad correspondiente al cierre de cada mes.</p>

<p>4.	Todos los precios establecidos en la lista de productos vigente llevan el IVA incluido, por lo que en caso de que el cliente requiera de factura, este podrá ser desglosado.  Es importante que el socio aclare a su cliente de que si requiere factura y esta salga por parte de SG,  deberá ser solicitada antes de que se envíe el producto, de lo contrario el producto una vez que salga de bodega ya no se podrá facturar.</p>

<p>5.	SG se compromete a respetar la lista de precios vigente durante todo el mes en curso, además de que no ofrecerá  ningún tipo de descuento a ningún cliente que llegue de forma directa por la página WEB  de SG.</p>

<p>6.	En caso de que el socio quiera otorgar un descuento especial, este tendrá que ser previamente negociado  y aprobado por escrito con SG.</p>

<p>7.	El cálculo de la bonificación será con vigencia días calendario por mes y de ningún a forma será acumulable.</p>

<p>8.	La devolución de la bonificación se hará de manera mensual conforme a los siguientes acuerdos:

a.	A más tardar 5 días después del cierre de mes, una vez recibida la factura por parte del socio a nombre de SINER GROUP S DE RL.

b.	La devolución de la bonificación se hará conforme a los acuerdos entendidos entre las partes, regresando únicamente el monto acordado sobre la venta bruta (antes del IVA)

c.	A la factura emitida para la devolución de la bonificación, deberá de aumentársele el 16% de IVA correspondiente.  Que sería lo mismo a la utilidad NETA.</p>

<p>9.	Todo envío por parte de SG, es más costo de entrega. Este precio será el vigente mostrado en la página de SG.  Únicamente las entregas dentro de la Cd. De Querétaro  (25 km a partir del centro de la Ciudad) se realizaran de forma gratuita a partir de $1,000 de compra.</p>

<p>10.	SG, ofrece la facilidad de entregar directamente el producto vendido por el socio, cargando siempre el costo del envío, independientemente de que si el socio lo cobre o no a su cliente. Ver cotizador incluido en la parte de socios dentro de la página WEB de SG.</p>

<p>11.	El socio también podrá, si así lo considera conveniente como estrategia de venta, el ofrecer a su cliente final el envío del producto gratis; para esto, el socio deberá de notificar previamente por escrito antes de iniciar el siguiente mes a SG, para que este a su vez, no lo cobre,  pero el socio estará de acuerdo de que el valor del envío entonces se le descuente de su bonificación mensual de forma directa.  SG NO aceptara cambios de estrategia  o condiciones de venta diferentes a los acordados previamente durante el mes en curso.</p>
<p><strong>NOTA:</strong>   Se recomienda al Socio, que este calcule bien su estrategia antes de ofrecer el costo del envío gratis, ya que de no ser coherente, SG se reserva el derecho de no enviar el producto si de este no viene pagado el flete.</p>

<p>12.	Si el socio prefiere comprar de forma directa el producto y entregarlo directamente el a su cliente, se podrá aplicar directamente la bonificación al precio de venta en el momento del pago, respetando el porcentaje de bonificación conforme al volumen de venta mensual.</p>

<p>13.	SG se compromete a surtir únicamente los productos que aparezcan en la lista de venta del mes vigente.</p>

<p>14.	En caso de que el socio requiera de algún pedido especial, sea por volumen, tamaño de empaque o ingrediente adicional, este deberá de ser negociado previamente con SG para poder surtirse posteriormente.</p>

<p>15.	SG se compromete a llevar un estricto control sobre cada uno de los envíos.  Para esto, cada producto enviado llevara un sello de garantía individual por cada empaque que se surta, independientemente del tamaño del que sea este.</p>

<p>16.	Todos los sellos de garantía que se apliquen llevaran un numero consecutivo y  serán registrados de forma manual en una bitácora de control.  En esta se registrara el tamaño del empaque, el número de sello, el cliente a quien se le envía y a que socio corresponde esa venta.</p>

<p>17.	A cada socio se le asignara un numero de referencia  así como una cuenta de banco y una clabe interbancaria, para que este pueda hacerlo llegar por medio de su publicidad a sus cliente y  contactos.  De esta forma SG, podrá identificar cada vez de que se realice una venta a quien pertenece esta y de forma mensual poder devolver la bonificación correspondiente.  Es muy importante que el socio haga mención a su cliente de que para que se pueda surtir el producto, deberá de ser pagado previamente ya sea por transferencia electrónica o por depósito directo en ventanilla y que en el formato de pedido y en la  ficha de depósito venga claramente indicado el número de referencia,  y sea enviado al correo proteína@sinergroup.com.mx el comprobante de pago para que este pueda ser enviado.</p>

<p>18.	La  entrega del producto se realizara el mismo día del pedido, siempre y cuando el dinero este antes de las 10:00 am, en la cuanta referida.  En caso de que el dinero entre posterior a esta hora, el pedido se entregara a mas tardar al día siguiente.</p>


<%= form_for(@condicion) do |f| %>
  <% if @condicion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@condicion.errors.count, "error") %> prohibited this condicion from being saved:</h2>

      <ul>
      <% @condicion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :userID, :value=> current_user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :leido, :value => 1 %>
  </div>
  <div class="actions">
    <%= f.submit "Aceptar", :class=> "btn btn-info" %>
  </div>
<% end %>
</div>
<div class="col-md-1 sidebar-line"></div>
</div>
