
  <!-- Top Bar
================================================== -->
  <div id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="topbar-contact">
            <li><i class="fa fa-phone-square"></i>01 (442) 2186601</li>
            <li><i class="fa fa-mobile"></i>442 275 5685 / 442 174 0218</li>
            <li>|</li>
            <li class="language dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i>Español <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <!-- end .topbar-contact --> 
        </div>
        <!-- end .col-md-8 -->
        
         <div class="col-md-4">
          <ul class="social-icons pull-right">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!-- end .social-icons --> 
          
        </div>
        <!-- end .col-md-4 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #topbar --> 
<%= render "header" %>
<div class="row">
  <div class="col-md-1 sidebar-line"></div>
  <div class="col-md-10 sidebar-line">
<p>Cuentas Bancarias</p>
    <p><strong>BBVA Bancomer</strong></p>
    <p>Razón Social: SINERGROUP S DE RL</p>
    <p>No Cta. 0107787693</p>
    <p>Clave: 012680001077876933</p>

    
    <h1>Detalles del Pedido</h1>
<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @cars.blank? %>
  
  <% else %>
  <div class="actions">
    <%= f.submit "Solicitar Pedido", :class=> "btn btn-success" %>
  </div>
  <div class="field">
    <%= f.label "Necesitas que algunos de tus productos sean mezclados" %>
    <%= f.text_field :comentarios, :placeholder => "Indicanos cuales ejem: Producto 1 10gr y Producto 2 500gr", :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.select :envioC, options_for_select([["Enviar a cliente", "Enviar a cliente"], ["Enviar a socio", "Enviar a socio"]]), :required => true, prompt: "Selecciona un tipo de envío", :class => "form-control" %>
  </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :titulo %>
    <h3><%= @pedido.titulo %></h3>
  </div>
  <div class="field">
    <%= f.hidden_field :estatus, :value => "Enviado" %>
  </div>
  <div class="field">
    <%= f.hidden_field :userID, :value => current_user.id %>
  </div> 
<% end %>
</div>
<div class="col-md-1 sidebar-line"></div>
</div>
<div class="row">
  <div class="col-md-1 sidebar-line"></div>
  <div class="col-md-10 sidebar-line">
<%= form_tag :controller => 'cars', :action => 'crearcar', :method => 'post' do %>
  
  <div class="field">
    <%= hidden_field_tag :pedidoID, nil,:value => params[:id], :class=>"form-control" %>
  </div>
  <div class="field">
     <%= label_tag "Lista de Productos" %>
    <%= select_tag :productoID, options_for_select(@productos), prompt: "Selecciona un producto de la lista", :class => "form-control tamano" %>
  </div>
  <div class="field">
    <%= label_tag :cantidad %><br>
    <%= text_field_tag :cantidad, nil,:class=>"form-control", :required=>true, :placeholder => "Captura la cantidad deseada" %>
  </div>
  
  <div class="field">
    <%= hidden_field_tag :costo,nil,:value=> Product.where(:descripcion => params[:pedidoID]).pluck(:costo).first, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= hidden_field_tag :userID, nil,:class=>"form-control",:value=> current_user.id %>
  </div>
  <div class="actions">
    <%= submit_tag "Agregar a carrito", :class => "btn btn-warning" %>
  </div>
  <% end %>
</div>
<div class="col-md-1 sidebar-line"></div>
</div>

<div class="row">
<div class="col-md-1 sidebar-line"></div>
<div class="col-md-10 sidebar-line">
  <div class="table-responsive">
  <h1>Mi carrito</h1>
<strong><div id="total"></div></strong>
<table class="table table-middle">
  <thead>
    <tr>
      <th>Número de Pedido</th>
      <th>Cantidad</th>
      <th>Producto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.pedidoID %></td>
        <td><%= car.cantidad %></td>
        <td><%= car.productoID %></td>
      
        <td><%= link_to 'Eliminar Producto', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<div class="col-md-1 sidebar-line"></div>
</div>


<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://rawgit.com/arqex/react-json/master/build/Json.js"></script>
<script src="//cdn.jsdelivr.net/refluxjs/0.2.11/reflux.min.js"></script>
<script type="text/jsx">

var url = "/api/v1/productos?pedido=<%= params[:id] %>" 
var Total = React.createClass({
           getInitialState: function() {
              return {
                data: ""
              };
            },
            componentDidMount: function() {
              var self = this;
              $.get(this.props.source, function(result) {
                var collection = result;
                if (this.isMounted()) {
                  this.setState({
                    data: collection
                  });
                }
              }.bind(this));
            },
            render: function() {   
              
              return (
                <span>
                 <h1>Total $ {this.state.data}  </h1>   
                </span>
              );
            }
          });

         React.render(
        <Total source={url} />,
          document.getElementById('total')
     );

</script>