<p id="notice"><%= notice %></p>

<h1>Listing Recomendacions</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Leido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recomendacions.each do |recomendacion| %>
      <tr>
        <td><%= recomendacion.userID %></td>
        <td><%= recomendacion.leido %></td>
        <td><%= link_to 'Show', recomendacion %></td>
        <td><%= link_to 'Edit', edit_recomendacion_path(recomendacion) %></td>
        <td><%= link_to 'Destroy', recomendacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recomendacion', new_recomendacion_path %>
