  <!-- Top Bar
================================================== -->
  <div id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="topbar-contact">
            <li><i class="fa fa-phone-square"></i>01 (442) 2186601</li>
            <li><i class="fa fa-mobile"></i>442 275 5685 / 442 174 0218</li>
            <li>|</li>
            <li class="language dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i>Español <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
              </ul>
            </li>
          </ul>
          <!-- end .topbar-contact --> 
        </div>
        <!-- end .col-md-8 -->
        
         <div class="col-md-4">
          <ul class="social-icons pull-right">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <!-- end .social-icons --> 
          
        </div>
        <!-- end .col-md-4 --> 
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #topbar --> 
  <%= render "header" %>
<div class="row">
  <div class="col-md-1 sidebar-line"></div>
  <div class="col-md-10 sidebar-line">
  <h1>Nuevo Pedido</h1>
  
  <%= form_for(@pedido_publico) do |f| %>
    <% if @pedido_publico.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pedido_publico.errors.count, "error") %> prohibited this pedido_publico from being saved:</h2>

        <ul>
        <% @pedido_publico.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<div class="row">
  <div class="col-md-5">
  </div>
    <div class="col-md-5">
  </div>
    <div class="col-md-2">
      <div class="field">
      <%= f.label "Código Promocional" %><br>
      <%= f.text_field :codigopromocional, :class => "form-control"%>
    </div>
  </div>
</div>
<div class="row">
  
  <div class="col-md-3">
    <div class="field">
      <%= f.label :pedido %><br>
      <%= f.text_field :pedido, :class => "form-control", :placeholder =>"Nombre de referencia para el pedido", :required => true %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre, :class => "form-control", :placeholder =>"Nombre y apellidos", :required => true %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= f.label :correo %><br>
      <%= f.text_field :correo, :class => "form-control",  :placeholder =>"Ingresa tu email",:required => true %>
    </div>
  </div>
  <div class="col-md-3">
  <div class="field">
      <%= f.label "Télefono" %><br>
      <%= f.text_field :telefono, :class => "form-control", :placeholder =>"Ingresa tu número télefonico", :required => true %>
    </div>
  </div>
</div>
    
<h1>Datos para envío</h1>
    
<div class="row">
  
  <div class="col-md-3">
    <div class="field">
      <%= f.label "Dirección completa" %><br>
      <%= f.text_field :direccion, :class => "form-control", :placeholder=>"Calle, número exterior, número interior",:required => true %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= f.label "Entre que calles" %><br>
      <%= f.text_field :calles, :class => "form-control",  :placeholder=>"Referencias",:required => true %>
    </div>
   </div>
   <div class="col-md-3">
    <div class="field">
      <%= f.label "Ciudad, municipio o población" %><br>
      <%= f.text_field :municipio, :class => "form-control",:placeholder=>"Referencias", :required => true %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= f.label "Código Postal" %><br>
      <%= f.text_field :codigopostal, :class => "form-control",:required => true %>
    </div>
  </div>
</div>

<h1>Datos para facturación</h1>
    
    
<div class="row">
<div class="col-md-3">
    <div class="field">
      <label>R.F.C</label>
      <%= f.text_field :rfc, :class => "form-control" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= f.label "Razón social" %><br>
      <%= f.text_field :razonsocial, :class => "form-control" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= f.label "Dirección completa" %><br>
      <%= f.text_field :direccionfiscal, :class => "form-control", :placeholder=> "Calle, número exterior, número interior"%>
    </div>
  </div>
  <div class="col-md-3">
    <div class="field">
      <%= f.label "Ciudad, municipio o población" %><br>
      <%= f.text_field :municipiofiscal, :class => "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label "Código Postal" %><br>
      <%= f.text_field :codigopostalfiscal, :class => "form-control" %>
    </div>
    <div class="col-md-8">
    </div>
  </div>
</div>
    <div class="actions">
      <%= f.submit "Agregar Productos" ,:class=>"btn btn-success" %>
    </div>
  <% end %>
</div>
  <div class="col-md-1 sidebar-line"></div>
</div>

 <!-- Footer Top
================================================== -->
  <div id="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-top-left"> </div>
          <!-- end .footer-top-left --> 
        </div>
        <!-- end .col-md-4 -->
        
        <div class="col-md-8">
          <div class="footer-top-right"></div>
          <!-- end .footer-top-right --> 
        </div>
        <!-- end .col-md-8 --> 
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #footer-top --> 
 
  <!-- Copyright
================================================== -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright">&copy; 2016 Sinergroup. Todos los Derechos Reservados.</div>
          <!-- end .copyright --> 
        </div>
        <!-- end .col-md-8 -->
        
      </div>
      <!-- end .row --> 
    </div>
    <!-- end .container --> 
  </div>
  <!-- end #copyright --> 
  
  <a href="#" class="back-to-top">Arriba</a> </div>
<!-- end #boxed-layout --> 