<%= render "header_admin" %>
<div class="row">
  <div class="col-md-1 sidebar-line"></div>
  <div class="col-md-10 sidebar-line">
<h1>Catálogo de Productos</h1>
<div class="table-responsive">
  <table class="table table-middle">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.codigo %></td>
        <td><%= product.descripcion %></td>
        <td><%= product.costo %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Agregar producto', new_product_path %>

</div>
<div class="col-md-1 sidebar-line"></div>
</div>
